body{
    margin: 0;
    background-color: #002026;
}


.gauche{
    height: 100px;
    width: 50%;
    float:left ;
    background-color: green;
}


.droite{
    height: 100px;
    width: 50%;
    float:left ;
    background-color: red;
}

